{
  "DbConfig" : {
    "driver" : "sqlite3",
    "connectionString" : "pao.s3db"
  },
  "AuthConfig" : {
    "encryptionKey" : "foo-bar-baz-blat"
  },
  "Ais" : [
    {
      "name": "Flippy",
      "address": "ws://localhost:2020"
    },
    {
      "name": "Kung",
      "address": "ws://localhost:2021"
    }
  ]
}
